@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'zeyda';
  src: url('../fonts/Zeyada.ttf');
}

@font-face {
  font-family: 'zindsong';
  src: url('../fonts/WindSong.ttf');
}

@font-face {
  font-family: 'outfitblack';
  src: url('../fonts/Outfit/static/Outfit-Black.ttf');
}

@font-face {
  font-family: 'outfitthin';
  src: url('../fonts/Outfit/static/Outfit-Thin.ttf');
}
@font-face {
  font-family: 'outfitregular';
  src: url('../fonts/Outfit/static/Outfit-Regular.ttf');
}
@font-face {
  font-family: 'extralight';
  src: url('../fonts/Outfit/static/Outfit-ExtraLight.ttf');
}
@font-face {
  font-family: 'allison';
  src: url('../fonts/Allison.ttf');
},

:root{
  .disable-click {
    position: relative;
    pointer-events: none;
}

  
 
     
     
      

      
}